<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Two2sMake5</title>
    <link rel="stylesheet" href="../style.css" />      
    <script src="/htmx.min.js"></script>
  </head>

  <body class="w-screen min-h-screen h-fit bg-stone-50 flex flex-col justify-start items-center p-20">
    <p class="text-2xl w-fit text-center">Hello!<br>What is 2 + 2?</p>

    <ul>
        <li><button hx-get="/Two2sMake5/four.html" hx-target="body" hx-swap="innerHTML">4</button></li>
        <li><button hx-get="/Two2sMake5/five.html" hx-target="body" hx-swap="innerHTML"
                class="text-stone-100"
            >5</button></li>
    </ul>
  </body>
</html>