<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>SeaGrass</title>
    <link rel="stylesheet" href="style.css" />      
    <script type="module" src="/htmx.min.js"></script>
  </head>

  <body class="w-screen min-h-screen h-fit bg-stone-50 flex flex-col justify-start items-center gap-10 p-2 overflow-y-auto overflow-x-hidden">

    <div class="w-full h-fit flex flex-col md:flex-row gap-3 border-b-4 border-rose-of-sharon-700 justify-center items-center p-2">
      <h1 class="text-4xl">SeaGrass</h1>
      <section class="w-full h-full flex flex-col">
        <h2 class="text-xl">Brendan Griffiths</h2>
        <p>A South African with too many thoughts and dreams</p>
      </section>
    </div>

    <div class="w-4/5 h-2/5 min-h-32 flex justify-between items-start gap-5 flex-col md:flex-row">
      <section class="home-section">
        <h2 class="text-2xl">Me Things</h2> 

        <ul class="w-full space-y-2">
          <li>I'm a South African programmer, born and raised in the Vale. I spend my time programming, reading and watching movies in far too expensive IMAX cinemas.</li>
          <li>SeaGrass comes from my initials and all round pretentious cleverness. It's just an easy reference for people to find my website! Which you've done a great job of btw :)</li>
          <li>CV</li>
          <li>Contact Details</li>
        </ul>
      </section>

      <section class="home-section">
        <h2 class="text-2xl">Thought Things</h2> 

        <ul class="w-full space-y-2">
          <li>Code Thoughts</li>
          <li>Movie Thoughts</li>
          <li>Book Thoughts</li>
          <li>Game Thoughts</li>
          <li>Stray Thoughts</li>
        </ul>
      </section>
      <section class="home-section">
        <h2 class="text-2xl">Doing Things</h2> 

        <ul class="w-full space-y-2">
          <li>BSc Hons Computer Science @ <a href="https://www.wits.ac.za/course-finder/postgraduate/science/computer-science/">Wits</a></li>
        </ul>
      </section>
      <section class="home-section">
        <h2 class="text-2xl">Done Things</h2> 

        <ul class="w-full space-y-2">
          <li>BSc Computer Science @ <a href="https://www.wits.ac.za/course-finder/undergraduate/science/computer-science/">Wits</a></li>
        </ul>
      </section>
      <section class="home-section">
        <h2 class="text-2xl">Cool Things</h2> 

        <ul class="w-full space-y-2">
          <li>Built SeaGrass with <a href="https://htmx.org/">HTMX</a></li>
        </ul>
      </section>
      <section class="home-section">
        <h2 class="text-2xl">Stray Things</h2> 

        <ul class="w-full" hx-boost="true">
          <li><a href="Two2sMake5/">Two 2s Make 5</a></li>
        </ul>
      </section>
    </div>

    <!-- <div class="collapse lg:visible w-full h-48 space-y-2">
      <section class="w-full h-full rounded-md"></section>

      <section class="flex flex-row justify-evenly items-center">
        <button class="border-2 border-lime-500 rounded-md hover:bg-stone-100 min-w-32 px-4" hx-trigger="revealed, click" hx-get="/games/game_of_life.html" hx-swap="innerHTML" hx-target="previous section">Game of Life</button>
        <button class="border-2 border-lime-500 rounded-md hover:bg-stone-100 min-w-32 px-4" hx-get="/games/snake.html" hx-swap="innerHTML" hx-target="previous section">Snake</button>
      </section>
    </div> -->
  </body>

</html>
